.vscode/**
.vscode-test/**
src/**
out/test/**
node_modules/**
.gitignore
.npmrc
pnpm-lock.yaml
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
RESEARCH.md
package-lock.json
