.vscode/**
.vscode-test/**
src/**
out/test/**
node_modules/**
.gitignore
.yarnrc
.yarnrc.yml
.yarn/**
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
RESEARCH.md
package-lock.json
